@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");

.about {
  background-color: white;
  color: black;
  font-family: "Vidaloka", serif;
  display: block;
  padding-top: 20px;
  min-height: 100vh;
  position: relative;
}

.title,
.aboutMe {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.title .hr {
  border: 0;
  margin: 0;
  height: 6px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: black;
  width: 30%;
}
.title span {
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 50px;
  background-color: #ff034e;
  border-radius: 10px;
  color: #ffffff;
  padding: 7px;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .title {
    flex-direction: column;
  }

  .title span {
    /* font-size: 1rem; */
  }
  .title .hr {
    width: 100%;
    margin: 10px;
    height: 1px;
  }
}
.aboutMe .image {
  width: 30%;
  max-width: 100%;
}
.aboutMe .description {
  width: 70%;
  max-width: 100%;
  font-size: 1.2rem;
}
.description h2 {
  text-align: center;
  color: red;
}
@media (max-width: 772px) {
  .about {
    flex-direction: column;
    /* text-align: center; */
  }
  .aboutMe {
    flex-direction: column;
  }
  .aboutMe .image {
    width: 100%;
  }
  .aboutMe .img1 {
    margin: auto;
  }
}
/* decorating academic part */
.academic {
  font-size: 1.5rem;
  font-weight: 600;
}
.academic p:nth-child(1),
.academic p:nth-child(2) {
  color: #00ffd1;
}
.branch {
  text-transform: uppercase;
  color: red;
}

.top {
  position: absolute;
  right: 0;
  bottom: 20px;
  color: black;
  padding: 5px;
  background-color: aquamarine;
  border-radius: 20px;
}
