@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  margin: 30px 0;
  text-transform: uppercase;
}
a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
.logo {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 78px;
  color: #d83e1c;
  font-family: "Vidaloka", serif;
}
.navBarRight {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 0;
  width: 500px;
  max-width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 40px;
  letter-spacing: 3px;
  /* box-shadow: 10px 4px 4px 0px #00000040; */
  box-shadow: 10px 4px 4px 0px #00000040, -1px 0px 5px 0px #00000040;
}

@media (max-width: 992px) {
  .nav {
    height: auto;
    min-height: 70px;
    flex-direction: column;
  }
  .navBarRight {
    flex-direction: column;
  }
}
